@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

@layer utilities {
  .backface-hidden {
    backface-visibility: hidden;
  }

  .preserve-3d {
    transform-style: preserve-3d;
  }

  .perspective-\[1000px\] {
    perspective: 1000px;
  }
}